*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--color);
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
}

body {
  background-color: rgb(148 163 184);
}

:root {
  --border-radius: 5px;
  --bg-color: #fff;
  --color: #333;
  --border-color: #ddd; 
  --button-bg-color: #006cd0;
  --button-color: #fff;
  --error-color: #ff0000;
}
